@import "../../index.scss";

.countries-wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 1rem auto;
  cursor: pointer;
  @media screen and (max-width: 400px) {
    justify-content: space-around !important;
  }
  @media screen and (max-width: $media-size-sm) {
    justify-content: center !important;
  }
  .country-card-wrap {
    width: 250px;
    height: 320px;
    margin: $spacing-md;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-radius: 5px;
    background-color: $primary-color;
    border: 1px solid $primary-color;
    color: $text-color;
    box-shadow: 0px 0px 7px 2px #00000008;
    img {
      width: 100%;
      height: 150px;
      border-radius: 5px;
    }
    .country-data-wrap {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      width: 80%;
      margin: 0 auto;
      .country-name {
        width: 100%;
        padding: 10px 0;
        font-weight: 600;
      }
      .country-data {
        display: flex;
        flex-flow: column nowrap;

        width: 100%;
        .data {
          width: 100% !important;
          padding-top: 5px;
          font-size: 14px;
          .label {
            font-weight: bold;
          }
        }
      }
    }
  }
}
.insights-wrap {
  width: 90%;
  margin: 5rem auto;
  @media screen and (max-width: $media-size-md) {
    width: fit-content !important;
  }
  .insights-header {
    padding: 1rem;
  }
  .insights-container {
    display: flex;
    height: 400px;
    @media screen and (max-width: $media-size-md) {
      flex-flow: column nowrap;
      align-items: center;
    }
    .flag-wrap {
      width: 30%;
      min-width: 400px;
      @media screen and (max-width: $media-size-md) {
        width: 90% !important;
        min-width: 150px !important;
        height: auto !important;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: fill;
        @media screen and (max-width: $media-size-md) {
          width: 90% !important;
          min-width: 150px !important;
          height: auto !important;
        }
      }
    }
    .details-wrap {
      padding: 4rem 2rem;
      height: 100%;

      @media screen and (max-width: $media-size-md) {
        flex-flow: column nowrap;
        align-items: flex-start;
        padding: 0;
        width: 90%;
        margin-top: 1rem;
      }
      .country-details {
        display: flex;
        margin: 1rem auto;
        @media screen and (max-width: $media-size-md) {
          flex-flow: column nowrap;
        }
        .details-column {
          display: flex;
          flex-flow: column nowrap;
          margin: 1rem 0;
          margin-right: 2rem;
        }
      }
      .border-countries-wrap {
        display: flex;
        justify-content: space-between;
        align-items: first baseline;
        @media screen and (max-width: $media-size-md) {
          flex-flow: column nowrap;
          align-items: flex-start;
        }
      }
      .neightbours {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start !important;
        margin: 0 !important;
        padding: 0 !important;
      }
    }
  }
}

.data {
  width: 100% !important;
  display: flex;
  flex-flow: row wrap;
  padding-top: 5px;
  font-size: 14px;
  .label {
    font-weight: bold;
    margin-right: 10px !important;
  }
  .value {
    font-weight: 100 !important;
  }
}

.margin-10 {
  margin: 10px auto;
  margin-right: 10px;
}
